<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


</head>
<body>
   
    <header class="header">
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="/VIews/Contacto.html">Información</a></li>
                <li><a href="/VIews/products.html">Productos</a></li>
                <li><a href="/VIews/create-products.html">Crear </a></li>
                <li>
                    <a href="/VIews/cart.html">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>

            </ul>
        </nav>
        
    </header>
    <div id="cart">
        <h3>TU CESTA</h3>
        <ul class="cart-list">

        </ul>
        <p id="price">Total= <span id="total-price"></span>€</p>

    </div>
    <div class='cs-btn-container'>
        <div class='block'></div>
        <div class='cs-btn cs-stp-one'>
          <div class='cs-btn-content'>
      
            <div class='cs-copy-icon'>
              <p class='cs-btn-text'>PAY</p>
              <i class='cs-btn-icon' data-feather="credit-card"></i>
            </div>
      
            <div class='fingerprint-icon-container'>
              <div class='front fingerp-pos'>  
                <div class='fingerprint fingerprint-cosicon' id='fingerprint-i'>
                  <svg xmlns="http://www.w3.org/2000/svg" width="378" height="402" fill="none" viewBox="0 0 378 418">
                    <path class='path path-1' stroke-linecap="round" stroke-width="11" d="M378 264.5V192c0-28.837-6.562-56.141-18.275-80.5M104 28.093C130.199 13.998 160.166 6 192 6c51.862 0 98.766 21.226 132.5 55.464M6 264.5V192c0-49.83 19.595-95.084 51.5-128.475M335.5 328c0-20.758 5.5-118.492 5.5-135.217 0-23.144-5.257-45.058-14.64-64.609a149.6 149.6 0 00-28.218-40.16c-15.126-15.38-33.558-27.49-54.142-35.171M192 43.5c-25.502 0-49.507 6.419-70.495 17.732a149.583 149.583 0 00-37.25 28.437C58.697 116.47 43 152.79 43 192.783V320.5M301 190.642c0 12.228-7 157.681-7 172.858"/>
                    <path class='path path-2' stroke-linecap="round" stroke-width="11" d="M290.291 143.406a109.42 109.42 0 00-20.643-29.361c-11.066-11.245-24.55-20.099-39.608-25.714M192 81.5c-18.656 0-36.217 4.693-51.57 12.964a109.419 109.419 0 00-27.25 20.791C94.483 134.848 83 161.402 83 190.642v93.375M81.5 314.5v39M255 386l1.926-63.65M260.5 285c3.5-30 3.5-86.485 3.5-94.546 0-11.156-2.54-21.718-7.074-31.142"/>
                    <path class='path path-3' stroke-linecap="round" stroke-width="11" d="M157.935 127.047c10.142-5.453 21.742-8.547 34.065-8.547 20.076 0 38.232 8.211 51.29 21.456M120 367.5c1.175-28.845 0-162 0-177.046 0-5.128.537-10.13 1.557-14.954a71.514 71.514 0 019.262-23M158 196.801V243.5v-46.699zm0 0a34.348 34.348 0 019.414-23.693 34.187 34.187 0 018.5-6.534A33.619 33.619 0 01192 162.5c4.174 0 8.172.759 11.866 2.147a33.997 33.997 0 0112.354 8.081 34.39 34.39 0 016.439 9.228A34.414 34.414 0 01226 196.801V216.5M157 280l-1.5 104M223 251l-3 140.5M192.306 190.726L187 395.5"/>
                  </svg>
      
      
                </div>
              </div>
      
              <div class='back fingerp-pos'>
                <div id='fingerprint-i-clone'></div>
              </div>
            </div>
      
          </div>
        </div>
      </div>
      <!-- References Dribbble / Twitter -->
      <div class='cs-ref'>
        <a class="cs-dribbble" href="https://dribbble.com/shots/11036755-UI-Payment-Approval" target="_blank">
          <div id='svgDribbble'></div>
        </a>
        <a class="cs-twitter" target="_blank" href="https://twitter.com/CosWiSe">
          <div id='svgTwitter'></div>
        </a>
      </div>


    <footer class="footer">
        <p> JQuery Practise. Josep Cortes Mañanich 2024</p>
    </footer>


   
    <script>
      $(function(){
   
            let cart = JSON.parse(localStorage.getItem('cart')) || [];
            let cartList = $('.cart-list');
            let totalPrice= 0
            cart.forEach(function(item) {
                let listItem = `
                    <li style= "display: flex;
                        margin: 0 auto;
                        margin-bottom: 10px;" >
                    
                            <div style ="  display: flex;
                                        max-width: 350px;
                                        height: 470px;
                                        flex-wrap: wrap;
                                        align-items: center;
                                        justify-content: center;
                                        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
                                        border: 2px solid white;
                                        background-color: rgb(209, 209, 209);">
                                
                                    <h4 style= "text-align: center;
                                                letter-spacing: 0.5px;
                                                font-weight: bold;
                                                text-transform: uppercase;
                                                background-color:  rgb(209, 209, 209); 
                                                color: black;" >${item.name}</h4>
                                    <img src="${item.image}"style=" width: 100%;">
                                    <p 
                                            style="background-color:  rgb(209, 209, 209); ;
                                            padding-left: 5px;
                                            color: black;" >
                                            
                                            Gramaje ${item.size}
                                            
                                    </p>
                                    <p 
                                            style="background-color:  rgb(209, 209, 209); ;
                                            padding-left: 5px;
                                            color: black;" >
                                                Precio ${item.price} €
                                    </p>
                                    <button class="remove" data-product="${item.name}" 
                                            style= " margin-left: auto;
                                            margin-right: 5px;
                                            padding: 2px;
                                            height: 40px;
                                            align-items: center;
                                            cursor: pointer;
                                            ;"> 
                                            Eliminar del carrito
                                    </button>

                                    
                            </div>
                    </li>
                    `;
                cartList.append(listItem);
                totalPrice += parseFloat(item.price);
            });
            $('#total-price').text(totalPrice.toFixed(2));

            $('.cart-list').on('click', '.remove', function() {

            let productId = $(this).closest('li').data('product-id'); 

            let cart = JSON.parse(localStorage.getItem('cart')) || [];


            let index = cart.findIndex(item => item.id === productId); 

            
            if (index !== -1) {
                
                let productPrice = parseFloat(cart[index].price);
                let totalPrice = parseFloat($('#total-price').text());
                totalPrice -= productPrice;
                $('#total-price').text(totalPrice.toFixed(2));

                cart.splice(index, 1);

                
                localStorage.setItem('cart', JSON.stringify(cart));

                $(this).closest('li').remove();
            }
            });
        })

    </script>

</body>
</html>