<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body>
    <header class="header">

        <nav class="navbar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="/VIews/products.html">Productos</a></li>
                <li><a href="/VIews/create-products.html">Crear</a></li>
                <li>
                    <a href="/VIews/cart.html">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>

            </ul>
        </nav>
        
    </header>
    <div id="cart">
        <h3>TU CESTA</h3>
        <ul class="cart-list">

        </ul>
        <p>Total<span></span>€</p>
    </div>


    <footer class="footer">
        <p> JQuery Practise. Josep Cortes Mañanich 2024</p>
    </footer>


   
    <script>
      $(function(){
    // Aquí recuperamos el contenido del carrito del localStorage
    let cart = JSON.parse(localStorage.getItem('cart')) || [];
    let cartList = $('.cart-list');
    cart.forEach(function(productName) {
        cartList.append('<li>'+ productName + '</li>');
    });
});
    </script>

</body>
</html>