<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="/VIews/Contacto.html">Información</a></li>
                <li><a href="/VIews/products.html">Productos</a></li>
                <li><a href="/VIews/create-products.html">Crear </a></li>
                <li>
                    <a href="/VIews/cart.html">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>

            </ul>
        </nav>
        
    </header>

    <div class="info-container">
        <div class="info-wrapper">
            <h3> INFORMACIÓN</h3>
            <p> Me llamo Josep Cortés, soy el creador de esta pagina web. Esta pagina web consiste en una simple para aprender a usar la libreria JQuery.</p>
            <p>Para la creación de esta practica, he prescindido del uso de backend. Ya que solamente quería aprender como manejar el DOM mediante la libreria JQuery, a fin de poder hacer un pequeño ecomerce usando el localStorage</p>
            <p>No obstante, si habeis llegado hasta aqui os invito a que visiteis una pagina web que si es oficial y tiene tienda física. Si necesitais suplementación deportiva no dudéis en acudir a TMT el Prat.</p>
            <p id="enlace">
                <a href="https://www.tumejortugroup.com/pages/tiendas/el-prat-tmt-el-prat">TMT WEB SITE</a>
            </p>
        </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4866.235114585522!2d2.0974775427698744!3d41.32687143100156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49fffec161b5d%3A0xc5983f679b0d295a!2sTu%20Mejor%20T%C3%BA%20Group%20-%20El%20Prat%20-%20Tienda%20Suplementos%20Deportivos!5e0!3m2!1ses!2ses!4v1716299624812!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


    </div>
    
</body>
</html>