<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div>
        <header class="header">
            <nav class="navbar">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="/VIews/products.html">Productos</a></li>
                    <li><a href="/VIews/create-products.html">Crea tu producto</a></li>
                    <li><a href="/VIews/cart.html"><img src="" alt=""></a></li>
                </ul>
            </nav>
            
        </header>
        <div>
            <h1>CREA TU PRODUCTO</h1>

            <form>
                <label for="Producto">Producto</label>
                <select name="" id="">
                    <option value="Proteina Isolada">Proteina Isolada</option>
                    <option value="Creatina">Creatina</option>
                    <option value="L-Carnitina">L-carnitina</option>
                </select>

                <label for="Gramaje">Gramaje</label>
                <select name="" id="">
                    <option value="Proteina Isolada">Proteina Isolada</option>
                    <option value="Creatina">Creatina</option>
                    <option value="L-Carnitina">L-carnitina</option>
                </select>
            
                <label for="Imagen">Imagen</label>
                <input type="file">

                <label for="Precio">Precio</label>
                <input type="number" placeholder="€">
            </form>

        </div>


     

       
    </div>
    

</body>
</html>