<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <header>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="/VIews/products.html">Productos</a></li>
                    <li><a href="/VIews/create-products.html">Crea tu producto</a></li>
                </ul>
            </nav>
            
        </header>
        <div>
            <h1>CREA TU PRODUCTO</h1>



        </div>


     

       
    </div>
    

</body>
</html>