
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>

    
        <header class="header">
            <nav class="navbar">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="/VIews/products.html">Productos</a></li>
                    <li><a href="/VIews/create-products.html">Crear </a></li>
                    <li><a href="/VIews/cart.html"><img src="" alt=""></a></li>
                </ul>
            </nav>
            
        </header>
        
        <div id="Productos">
            <h2>Productos</h2>

            <ul class="list">
                <li class="item">
                    <div class="product-card">
                        <h4>Proteina Isolada </h4>
                        <img src="https://res.cloudinary.com/josepcortes/image/upload/v1716241600/proteina_odlwo6.webp" alt="">
                        <p>Gramaje: 2kg</p>
                        <p>Precio: 120€</p>
                        <button>Añadir al carrito</button>
                    </div>
                </li>

                <li class="item">
                    <div class="product-card">
                        <h4>Proteina Isolada </h4>
                        <img src="https://res.cloudinary.com/josepcortes/image/upload/v1716241600/proteina_odlwo6.webp" alt="">
                        <p>Gramaje: 2kg</p>
                        <p>Precio: 120€</p>
                        <button>Añadir al carrito</button>
                    </div>
                </li>

                <li class="item">
                    <div class="product-card">
                        <h4>Creatina </h4>
                        <img src="https://res.cloudinary.com/josepcortes/image/upload/v1716241595/creatina_pei4tf.webp" alt="">
                        <p>Gramaje: 0.5kg</p>
                        <p>Precio: 40€</p>
                        <button>Añadir al carrito</button>
                    </div>
                </li>

                <li class="item">
                    <div class="product-card">
                        <h4>L-Carnitina</h4>
                        <img src="https://res.cloudinary.com/josepcortes/image/upload/v1716241757/317_fq53ih.webp" alt="">
                        <p>Gramaje: 0.2kg</p>
                        <p>Precio: 20€</p>
                        <button>Añadir al carrito</button>
                    </div>   
                </li>

                <li class="item">  
                    <div class="product-card">
                        <h4>CASEINA </h4>
                        <img src="https://res.cloudinary.com/josepcortes/image/upload/v1716241515/caseina_m5ukau.webp" alt="">
                        <p>Gramaje: 1kg</p>
                        <p>Precio: 80€</p>
                        <button>Añadir al carrito</button>
                    </div>
                </li>

                <li class="item">
                    <div class="product-card">
                        <h4>WHEY PROTEIN </h4>
                        <img src="https://res.cloudinary.com/josepcortes/image/upload/v1716241749/73_8d021437-0dcc-41d4-af18-a3bd7eeb34f7_zlxaif.webp" alt="">
                        <p>Gramaje: 1kg</p>
                        <p>Precio: 120€</p>
                        <button>Añadir al carrito</button>
                    </div>
                </li>

                <li class="item">
                    <div class="product-card">
                        <h4>L-Carnitina </h4>
                        <img src="https://res.cloudinary.com/josepcortes/image/upload/v1716241589/carnitina_pccyc9.webp" alt="">
                        <p>Gramaje: 1kg</p>
                        <p>Precio: 40€</p>
                        <button>Añadir al carrito</button>
                    </div>
                </li>

            </ul>
        </div>
   
       


</body>
</html>