
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div>
        <header>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="/VIews/products.html">Productos</a></li>
                    <li><a href="/VIews/create-products.html">Crea tu producto</a></li>
                </ul>
            </nav>
            
        </header>
        
        <div id="Productos">
            <h2>Productos</h2>
        
            <div class="product-card">
                <h4>Proteina Isolada 1kg</h4>
                <img src="" alt="">
                <p>Precio: 100€</p>
                <button>Añadir al carrito</button>
            </div>
        
            <div class="product-card">
                <h4>Proteina Isolada 1kg</h4>
                <img src="" alt="">
                <p>Precio: 100€</p>
                <button>Añadir al carrito</button>
            </div>
        
            <div class="product-card">
                <h4>Proteina Isolada 1kg</h4>
                <img src="" alt="">
                <p>Precio: 100€</p>
                <button>Añadir al carrito</button>
            </div>
            
            <div class="product-card">
                <h4>Proteina Isolada 1kg</h4>
                <img src="" alt="">
                <p>Precio: 100€</p>
                <button>Añadir al carrito</button>
            </div>
        </div>
    </div> 

</body>
</html>